.products {
  width: 70%;
  display: inline-block;
  position: relative;
  left: 14vw;
  background-color: whitesmoke;
  padding: 20px 0 20px 20px;
}

.products-item {
  display: flex;
  margin: 0px 1rem 1rem 0px;
  border: 2px solid #ededed;
  padding: .3rem;
  cursor: pointer;
}

.products-item img {
  min-width: 12vw;
  height: 10vw;
}

.products-img {
  margin-right: 2vw;
}

.products-title h1{
  margin: 0px;
  font-size: 2vw;
}
.products-title h3{
  margin-top: 0px;
  font-size: 1.3vw;
}